<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Users{% endblock %}</title>
	{% load staticfiles %}


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'music:index' %}">Users</a>
		</div>

		<div class="collapse navbar-collapse" id="topNavBar">
			<ul class="nav navbar-nav">
				<li>
					<a href="{% url 'music:list' %}">
						<span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
						List Users
					</a>
				</li>

				<li>
					<a href="{% url 'music:user-add' %}">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
						Add User
					</a>
				</li>
			</ul>
		</div>



		
	</div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>